@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sedgwick+Ave+Display&display=swap');
*{
padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", Sedgwick;
}
h1{
	align-items: center;
	color: black;
	display: flex;
  flex-direction: column;
  justify-content: center;
	font-size: 4em; /* Increase font size */
  font-family: 'georgia', cursive;
}
h1 img {
  width: 45%; /* Adjust the width of the image */
  opacity: 0.9; /* Adjust the opacity for transparency */
  border-radius: 50%; /* Optional: Add a circular border to the image */
}
.start-link,
.rules-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #2980b9; /* Border color for links */
  transition: background-color 0.3s ease;
}
.start-link:hover,
.rules-link:hover {
  background-color: #2980b9;
}
body { font-size:16px;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#1bafdb;
	background: url('graves.jpg') center/cover no-repeat; /* Replace 'your-background-image.jpg' with the actual image file path */
}
.background-container {
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to improve readability */
  padding: 20px;
  text-align: center;
  background: transparent;
}
.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 60px;
}
p{
  display: block;
    margin-block-start:5em;
    margin-block-end: 5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #0e7353;
    background: white;
    border: 2px solid #0e7353;
     border-radius: 10px; 
}
button {
      padding: 10px 15px;
      font-size: 16px;
      cursor: pointer;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
    }

    button:hover {
      background-color: #45a049;
    }